<style>
	.left, .right {
		width: 50%;
		margin: 0;
		padding: 0;
		float: left;
	}
	.micromicro {
		padding-left: 10px;
		margin-left: 10px;
		border-left: 2px solid #CCC;
	}
</style>
<div class="left">
	<%= data['html'] %>
</div>
<div class="right">
	<div class="micromicro">

	</div>
</div>